@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='text'],
input[type='password'],
input[type='email'],
input[type='number'],
input[type='tel'],
textarea {
  @apply w-full border my-1 py-2 px-3 rounded-2xl;
}
textarea {
  height: 140px;
}

button {
  @apply bg-gray-300;
}

button.primary {
  @apply bg-primary p-2 w-full text-white rounded-2xl;
}

@media screen and (max-width: 800px) {
  .header-info {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .booking-info {
    flex-direction: column;
  }
  .place-info {
    flex-direction: column;
  }

  .account-nav {
    flex-direction: column;
  }
  .dates-info {
    flex-direction: column;
  }
  .bookings-info {
    flex-direction: column;
  }
  .booking-info {
    flex-direction: column;
  }
}
